{% assign cta_button = false %}
{% assign title = collection.title %}

<div class="collection-hero background-accent relative flex flex-column medium--flex-row overflow-hidden">
  <div class="relative z-index-2 width-100 medium--width-40 xlarge--width-30 padding-2 medium--padding-vertical-6 large--padding-16 flex flex-column justify-center collection-description padding-right-0 order-2 large--order-1">
    <div class="padding-horizontal-6 large--padding-horizontal-0 large--padding-left-16 padding-vertical-4 large--padding-vertical-0">
      <h1 class="collection-hero-title font-family-heading text-uppercase font-weight-5 margin-0 padding-0 letter-spacing-2 font-size-3 large--font-size-8">
        {{ title }}
      </h1>
      {% comment %}{{ collection.description }}{% endcomment %}
      <div class="letter-spacing-2 xlarge--padding-right-16 font-size-1 large--font-size-3 margin-top-2">{{ collection.description | replace: '<a','<a class="link"' }}</div>

      {% if cta_button == true %}
        <a class="inline-block background-primary text-no-decoration padding-horizontal-4 padding-vertical-2 text-uppercase letter-spacing-1 font-family-heading  text-white background-secondary-hover transition-all large--padding-horizontal-6" href="{{ cta_url }}">{{ cta_text }}</a>
      {% endif %}
    </div>
  </div>

  {%- if collection.image -%}
  <div class="width-100 medium--width-60 xlarge--width-70 relative order-1 large--order-2">
    <div class="medium--absolute medium--absolute-fill z-index-1 background-cover background-no-repeat background-center hero"
      style="background-image:url('{{ collection.image | img_url: '1024x' }}'); animation:fadeZoom 1.4s forwards;"></div>
      <!-- {{ template.name }}_image_lcp [{{ collection.image | img_url: '1024x' }}] -->
  </div>
  {%- endif -%}
</div>

{%- assign desktop_min_height = section.settings.hero_min_height -%}
{%- assign mobile_min_height = section.settings.hero_min_height_mobile -%}

<style type="text/css">
  {%- if mobile_min_height != blank -%}
    .collection-hero { 
      min-height: {{ mobile_min_height }}px; 
  }
  {%- endif -%}

  /* breakpoint large: */ 
  @media (min-width: 60em) { 
    .collection-hero-title { 
      font-size: 1.875rem;
    }

    {%- if desktop_min_height != blank -%}
      .collection-hero { 
        min-height: {{ desktop_min_height }}px; 
      }
    {%- endif -%}
  }
</style>

<script>
  var height = document.querySelector('.collection-hero').offsetHeight + 20;
  document.styleSheets[0].insertRule('div.collection-description:after { border-bottom-width: ' + height + ' px; }', 0);
  document.styleSheets[0].cssRules[0].style.borderBottomWidth = height + 'px';
</script>