{%- assign main_menu = section.settings.mobile_menu -%}
{%- assign menu_link_class = "block link letter-spacing-1 relative text-default padding-vertical-5 padding-horizontal-7" -%}

{% comment %}Header z-index is 9, this should be below that{% endcomment %}
<div class="hide js-mobile-menu fixed absolute-fill z-index-8 background-transparent text-default overflow-auto">
  <div class="flex flex-column width-100 justify-between background-accent"
    style="min-height: 100%;">
    <div>
      <div>
        <ul class="list-reset">
          {%- for link in linklists[main_menu].links -%}
            {%- assign link_handle = link.title | handle -%}
            {%- assign has_second_level_links = false -%}

            {%- if link.links.size > 0 -%}
              {%- assign has_second_level_links = true -%}
              {%- assign second_level_links = link.links -%}
            {%- endif -%}

            <li class="block">
              <a
                class="menu-level-1 {{ menu_link_class }} text-uppercase font-size-3 border-bottom border-grey"
                href="{{ link.url }}"
                title="{{ link.title }}"
                {% if has_second_level_links %}data-behavior="toggle-submenu"{% endif %}>
                {{ link.title }}

                {%- if has_second_level_links -%}
                  <span class="absolute right-5 position-center-vertical z-index-2 font-size-4">
                    <span class="custom-icon-plus"></span>
                  </span>
                {%- endif -%}
              </a>
              
              {%- if has_second_level_links -%}
                {% comment %}
                  Second level mobile links
                {% endcomment %}
                <ul class="hide list-reset padding-top-1">
                  {% for second_level_link in second_level_links %}
                    {%- assign has_third_level_links = false -%}

                    {%- if second_level_link.links.size > 0 -%}
                      {%- assign has_third_level_links = true -%}
                      {%- assign third_level_links = second_level_link.links -%}
                    {%- endif -%}

                    <li class="block">
                      <a class="menu-level-2 text-uppercase {{ menu_link_class }} font-size-2 border-bottom border-grey padding-left-10" 
                        href="{{ second_level_link.url }}" 
                        title="{{ second_level_link.title }}"
                        {% if has_third_level_links %}data-behavior="toggle-submenu"{% endif %}>
                        {{ second_level_link.title }}

                        {%- if has_third_level_links -%}
                          <span class="absolute right-5 position-center-vertical z-index-2 font-size-4">
                            <span class="custom-icon-plus"></span>
                          </span>
                        {%- endif -%}
                      </a>

                      {%- if has_third_level_links -%}
                        {% comment %}
                          Third level mobile links
                        {% endcomment %}
                        <ul class="hide list-reset margin-vertical-2 margin-left-7 padding-bottom-5">
                          {% for third_level_link in third_level_links %}
                            <li class="block border-left border-secondary">
                              <a class="menu-level-3 block link font-size-3 padding-left-5
                                {% if forloop.first %}padding-bottom-3{% elsif forloop.last %}padding-top-3{% else %}padding-vertical-3{% endif %}" 
                                href="{{ third_level_link.url }}"
                                title="{{ third_level_link.title }}">
                                {{ third_level_link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {%- endif -%}
                    </li>
                  {% endfor %}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}

          <li class="background-primary text-secondary text-center">
            <a
              class="menu-level-1 {{ menu_link_class }} font-size-3 border-bottom border-grey" href="/account" title="Account">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="24" viewBox="0 0 23 24" style="width: 20px;
              margin-top: -3px;">
                  <defs>
                      <path id="eo3lkbasja" d="M0 0.719L23 0.719 23 23.719 0 23.719z"/>
                  </defs>
                  <g fill="none" fill-rule="evenodd">
                      <g>
                          <g>
                              <g transform="translate(-94 -606) translate(0 589) translate(94 17)">
                                  <mask id="xwmhar67wb" fill="#fff">
                                      <use xlink:href="#eo3lkbasja"/>
                                  </mask>
                                  <path fill="#FFF" d="M11.5 13.214c-1.678 0-3.043-1.365-3.043-3.043 0-1.678 1.365-3.043 3.043-3.043 1.678 0 3.043 1.365 3.043 3.043 0 1.678-1.365 3.043-3.043 3.043m0-7.477c-2.445 0-4.434 1.99-4.434 4.434s1.99 4.433 4.434 4.433c2.445 0 4.434-1.989 4.434-4.433 0-2.445-1.99-4.434-4.434-4.434m6.649 14.088c-1.352-2.53-3.89-4.132-6.649-4.132-2.753 0-5.298 1.602-6.65 4.131-2.118-1.854-3.46-4.575-3.46-7.605 0-5.575 4.536-10.11 10.11-10.11s10.11 4.535 10.11 10.11c0 3.03-1.342 5.751-3.461 7.606M11.5 22.328c-2.038 0-3.935-.608-5.524-1.649 1.082-2.193 3.216-3.596 5.524-3.596 2.313 0 4.442 1.4 5.525 3.596-1.59 1.041-3.487 1.65-5.525 1.65m0-21.61C5.16.719 0 5.878 0 12.219c0 6.34 5.16 11.5 11.5 11.5s11.5-5.16 11.5-11.5c0-6.341-5.16-11.5-11.5-11.5" mask="url(#xwmhar67wb)"/>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
            
              <span class="text-white text-uppercase padding-left-3">
                {% if customer %}
                  Hi, {{ customer.first_name }}
                {% else %}
                  My Account
                {% endif %}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>