
{% assign hero_settings = section.settings %}

{% assign number_of_buttons = 1 %}
{% assign image_mobile = hero_settings.image_mobile | default: false | default: hero_settings.image_desktop %}
{% assign image_mobile_alt_text = hero_settings.image_mobile_alt_text %}
{% assign image_desktop = hero_settings.image_desktop %}
{% assign image_desktop_alt_text = hero_settings.image_desktop_alt_text %}

{% include 'attribute-image-aspect-ratio-percentage', image: hero_settings.image_desktop %}
{% assign image_desktop_ratio_percentage = image_aspect_ratio_percentage %}

{% include 'attribute-image-aspect-ratio-percentage', image: image_mobile %}
{% assign image_mobile_ratio_percentage = image_aspect_ratio_percentage %}

{% if hero_settings.image_desktop == blank %}
  {% assign image_desktop_ratio_percentage = '33' %}
  {% assign image_mobile_ratio_percentage = '100' %}
{% endif %}

{% assign block_alignment_x = hero_settings.block_alignment_x %}
{% assign block_alignment_y = hero_settings.block_alignment_y %}
{% assign block_max_width   = hero_settings.block_max_width %}
{% assign desktop_min_height   = hero_settings.desktop_min_height %}

{% assign mobile_block_alignment_x = hero_settings.mobile_block_alignment_x %}
{% assign mobile_block_alignment_y = hero_settings.mobile_block_alignment_y %}
{% assign mobile_block_max_width   = hero_settings.mobile_block_max_width %}
{% assign mobile_min_height        = hero_settings.mobile_min_height %}

{% assign text_alignment = hero_settings.block_text_alignment %}
{% assign mobile_text_alignment = hero_settings.mobile_block_text_alignment %}

{% assign text_color = hero_settings.text_color %}

{% assign video_desktop = hero_settings.video_desktop %}
{% assign video_mobile = hero_settings.video_mobile %}

<div class="relative background-{% if text_color == 'white' %}accent{% else %}secondary{% endif %} overflow-hidden {% if hero_settings.overlay_activate %}has-overlay{% endif %}">
    {% comment %}
      Background images
    {% endcomment %}
    <div class="full-width-image-container relative z-index-1 large--hide box-ratio-inline" style="padding-bottom: {{ 
      image_mobile_ratio_percentage }}%">
      {%- assign image_mobile_preview = image_mobile | img_url: '50x' -%}
      {%- assign image_mobile = image_mobile | img_url: 'master' -%}
      {%- if image_mobile_alt_text == blank -%}
        {%- assign image_mobile_alt_text = shop.name -%}
      {%- endif -%}
      {%- unless image_mobile contains "no-image" -%}
        <div class="absolute absolute-fill">
          <img class="block object-fit-cover object-position-center"
            src="{{ image_mobile_preview }}"
            data-src="{{ image_mobile }}"
            alt="{{ image_mobile_alt_text }}"
          />
        </div>
      {%- endunless -%}
    </div>
    <div class="full-width-image-container z-index-1 relative hide large--block box-ratio-inline" style="padding-bottom: {{ image_desktop_ratio_percentage }}%">
      {%- assign image_desktop_preview = image_desktop | img_url: '400x' -%}
      {%- assign image_desktop = image_desktop | img_url: 'master' -%}
      {%- if image_desktop_alt_text == blank -%}
        {%- assign image_desktop_alt_text = shop.name -%}
      {%- endif -%}
      {%- unless image_desktop contains "no-image" -%}
        <div class="absolute absolute-fill">
          <img class="block object-fit-cover object-position-center"
            src="{{ image_desktop_preview }}"
            data-src="{{ image_desktop }}"
            alt="{{ image_desktop_alt_text }}"
          />
        </div>
      {%- endunless -%}
    </div>
  
    {% comment %}
      Videos
    {% endcomment %}
  
    {%- if video_desktop != blank -%}
      <div class="hide large--block overflow-hidden absolute absolute-fill z-index-2">
        <video class="width-100 height-100 object-fit-cover object-position-center"
          {% unless image_desktop contains "no-image" %}poster="{{ image_desktop }}"{% endunless %} 
          muted="muted" 
          loop="loop" 
          playsinline="playsinline" 
          autoplay="autoplay">
          <source src="{{ video_desktop }}"
            type="video/mp4">
        </video>
      </div>
    {%- endif -%}
  
    {%- if video_mobile != blank -%}
      <div class="large--hide overflow-hidden absolute absolute-fill z-index-2">
        <video class="width-100 height-100 object-fit-cover object-position-center"
          {% unless image_mobile contains "no-image" %}poster="{{ image_mobile }}"{% endunless %} 
          muted="muted" 
          loop="loop" 
          playsinline="playsinline" 
          autoplay="autoplay">
          <source src="{{ video_mobile }}"
            type="video/mp4">
        </video>
      </div>
    {%- endif -%}
  
    {% comment %}
      Overlay
    {% endcomment %}
  
    {%- if hero_settings.overlay_activate -%}
      <div class="absolute absolute-fill z-index-3" style="background-color: {{ hero_settings.overlay_color }}; opacity: {{ hero_settings.overlay_opacity | divided_by: 100.00 }}"></div>
    {%- endif -%}
  
    {% comment %}
      Text/content
    {% endcomment %}
  
    <div class="aspect-ratio-fill z-index-4">
      <div class="height-100 padding-vertical-9 container">
        {% comment %}
          Flex container. First child is vertical (Y) alignment, inner child element is horizontal (X)
        {% endcomment %}
        <div class="height-100 flex flex-column justify-{{ mobile_block_alignment_y }} large--justify-{{ block_alignment_y }}">
  
          <div class="width-100 flex flex-row justify-{{ mobile_block_alignment_x }} large--justify-{{ block_alignment_x }}">
  
            <div class="full-width-text-container text-{{ text_color }} text-{{ mobile_text_alignment }} large--text-{{ text_alignment }} large--padding-right-16">
              <div class="large--padding-2">
                {% if block.settings.title != blank  %}
                    <h3 class="full-width-title font-family-primary font-weight-4 font-size-7 large--font-size-10 padding-vertical-2 margin-0 large--margin-left--1 line-height-title margin-bottom-5">
                    {{ block.settings.title | newline_to_br }}
                    </h3>
                {% endif %}
                {% if block.settings.description != blank  %}
                    <div class="line-height-double">
                        {{ block.settings.description }}
                    </div>
                {% endif %}
                {% if block.settings.button_text != blank %}
                    <div class="margin-top-4">
                    <a href="{{ block.settings.link }}" 
                        class="inline-block button padding-horizontal-7 background-primary text-white background-white-hover text-default-hover"
                        title="{{ block.settings.text }}">
                        {{ block.settings.text }}
                    </a>
                    </div>
                {% endif %}
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  <style type="text/css">
    {%- if mobile_min_height != blank -%}
      .full-width-image-container { 
        min-height: {{ mobile_min_height }}px; 
      }
    {%- endif -%}
  
    {%- if mobile_block_max_width != blank -%}
      .full-width-text-container { 
        max-width: {{ mobile_block_max_width }}px; 
      }
    {%- endif -%}
  
    /* breakpoint large: */ 
    @media (min-width: 60em) { 
      {%- if block_max_width != blank -%}
      .full-width-text-container { 
        max-width: {{ block_max_width }}px; 
      }
      {%- endif -%}
  
      {%- if desktop_min_height != blank -%}
        .full-width-image-container { 
          min-height: {{ desktop_min_height }}px; 
        }
      {%- endif -%}
    }
  </style>


{% schema %}
{
  "name": "About - Hero",
  "settings": [
    {
        "type": "header",
        "content": "Images"
    },
    {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop"
    },
    { 
        "type": "text", 
        "id": "image_desktop_alt_text", 
        "label": "Desktop image alt text", 
        "info": "If blank, will default to shop name"
    }, 
    { 
        "type": "text", 
        "id": "desktop_min_height", 
        "label": "Desktop minimum height (in px)", 
        "default": "600"
    }, 
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile"
    },
    { 
        "type": "text", 
        "id": "image_mobile_alt_text", 
        "label": "Mobile image alt text", 
        "info": "If blank, will default to shop name"
    }, 
    { 
        "type": "text", 
        "id": "mobile_min_height", 
        "label": "Mobile minimum height (in px)", 
        "default": "600"
    }, 
    { 
        "type": "header", 
        "content": "Videos"
    }, 
    { 
        "type": "paragraph", 
        "content": "Optional. Images should still be added as a video fallback"
    }, 
    { 
        "type": "url", 
        "id": "video_desktop", 
        "label": "Desktop video URL"
    }, 
    { 
        "type": "url", 
        "id": "video_mobile", 
        "label": "Mobile video URL"
    }, 
    {
        "type": "header",
        "content": "Desktop block settings"
    },
    {
        "type": "select",
        "id": "block_alignment_x",
        "label": "Horizontal block alignment",
        "options": [
        {
            "value": "start",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "end",
            "label": "Right"
        }
        ],
        "default": "center"
    },
    {
        "type": "select",
        "id": "block_alignment_y",
        "label": "Vertical block alignment",
        "options": [
        {
            "value": "start",
            "label": "Top"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "end",
            "label": "Bottom"
        }
        ],
        "default": "center"
    },
    {
        "type": "select",
        "id": "block_text_alignment",
        "label": "Text alignment",
        "options": [
        {
            "value": "left",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "right",
            "label": "Right"
        }
        ],
        "default": "center"
    }, 
    {
        "type": "text",
        "id": "block_max_width", 
        "label": "Max width (in pixels)", 
        "info": "If blank, max width will be 100%"
    },
    {
        "type": "header",
        "content": "Mobile block settings"
    },
    {
        "type": "select",
        "id": "mobile_block_alignment_x",
        "label": "Horizontal block alignment",
        "options": [
        {
            "value": "start",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "end",
            "label": "Right"
        }
        ],
        "default": "center"
    },
    {
        "type": "select",
        "id": "mobile_block_alignment_y",
        "label": "Vertical block alignment",
        "options": [
        {
            "value": "start",
            "label": "Top"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "end",
            "label": "Bottom"
        }
        ],
        "default": "center"
    },
    {
        "type": "select",
        "id": "mobile_block_text_alignment",
        "label": "Text alignment",
        "options": [
        {
            "value": "left",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "right",
            "label": "Right"
        }
        ],
        "default": "center"
    }, 
    {
        "type": "text",
        "id": "mobile_block_max_width", 
        "label": "Max width (in pixels)", 
        "info": "If blank, max width will be 100%"
    },
    { 
        "type": "header", 
        "content": "Text color"
    }, 
    {
        "type": "select",
        "id": "text_color",
        "label": "Color",
        "options": [
        {
            "value": "default",
            "label": "Black"
        },
        {
            "value": "white",
            "label": "White"
        }
        ],
        "default": "white"
    }, 
    {
        "type": "header",
        "content": "Overlay"
    },
    {
        "type": "checkbox",
        "id": "overlay_activate",
        "label": "Enable?"
    },
    {
        "type": "color",
        "id": "overlay_color",
        "label": "Background color",
        "default": "#ffffff"
    },
    {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Opacity",
        "default": 0,
        "max": 100,
        "min": 0,
        "unit": "%"
    },
    {
        "label": "Title",
        "id": "title",
        "type": "textarea"
    },
    {
        "label": "Description",
        "id": "description",
        "type": "richtext"
    },
    {
        "label": "Button",
        "id": "button_text",
        "type": "text"
    },
    {
        "label": "Link",
        "id": "link",
        "type": "url"
    }
]
}
{% endschema %}