{%- assign amount = section.blocks | size | plus: 0 -%}

{%- unless section.blocks == empty or section.settings.hide_add_ons == true -%}
  <div class="relative background-light-grey padding-vertical-5 padding-horizontal-4 text-center">
    <div class="text-center letter-spacing-1 inline-block padding-bottom-2 border-bottom padding-horizontal-6 font-size-1 border-grey font-family-heading">{{ section.settings.title }}</div>

      {%- capture block_content -%}
        {%- for block in section.blocks -%}
          {%- assign product = all_products[block.settings.product] -%}

          {%- if product == empty -%}
            {%- continue -%}
          {%- endif -%}

          {%- assign variant = product.first_available_variant -%}
          {%- if block.settings.variant_id != blank -%}
            {%- assign variant_id = block.settings.variant_id | plus: 0 -%}

            {%- for product_variant in product.variants -%}
              {%- if product_variant.id == variant_id -%}
                {%- assign variant = product_variant -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

          {%- assign title = block.settings.title | default: product.title -%}

          <div class="ajax-cart-box flex items-center text-left">
            <picture class="width-50">
              <source srcset="{{ product.featured_image | img_url: '128x' }} 1x,
                              {{ product.featured_image | img_url: '256x' }} 2x"
              />
              <img src="{{ product.featured_image | img_url: '128x' }}" class="block width-100" style="max-width: 12rem;" />
            </picture>

            <div class="details flex flex-column items-start width-50">

              <a href="{{ product.url }}/?variant={{ variant.id }}" class="link line-height-solid margin-top-0 margin-bottom-2 text-uppercase font-size-2 letter-spacing-2 text-black font-family-heading font-weight-5">
                  {{ product.title }}
              </a>

              <span class="block text-uppercase letter-spacing-1 font-size-1 line-height-solid">{{ product.vendor }}</span>

              <span class="font-size-2 font-family-heading margin-bottom-2 letter-spacing-1 block">{{variant.price | money_without_trailing_zeros }}</span>

              <div data-behavior="ajax-cart-button" data-variant-id="{{ variant.id }}" class="background-primary text-white text-uppercase button-reset  font-size-xs font-family-heading letter-spacing-2 padding-vertical-1 padding-horizontal-2">
                Add
              </div>
            </div>
          </div>
        {%- endfor -%}
      {%- endcapture -%}

      <div class="margin-top-4">
        {%- case amount -%}
          {%- when 1 -%}
            {{ block_content }}

          {%- when 2 -%}
            <div class="grid grid-gap-2 columns-2">
              {{ block_content }}
            </div>
        {%- endcase -%}
      </div>

    <button class="button-reset absolute right-4 top-2 cursor-pointer" data-close-products>{% include 'svg-close' %}</button>
  </div>
{%- endunless -%}

{% schema %}

  {
    "name": "AJAX Cart Products",
    "max_blocks": 2,
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Title",
          "default" : "RECOMMENDED ADD-ONS"
        },
        {
          "type": "checkbox",
          "id": "hide_add_ons",
          "label": "Hide Add-ons",
          "default": false
        }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "variant_id",
            "label": "Variant ID",
            "info": "By default, the first available variant will be used. If this field matches a variant ID of the selected product, that variant will be used instead."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "Defaults to the product's title"
          }
        ]
      }
    ]
  }

{% endschema %}
